/* style.css */
:root {
    --main-color: #EF5797;
    --sub-color: #1876AB;
    --text-color:#333333;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family:'Noto Sans KR', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  a:hover{
    color: var(--sub-color);
  }
  
  ul {
    list-style-type: none;
  }

  /* 헤더 */
  #header{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 135px;
  }
  #header img{
  width: 247px;
  height: 75px;
  margin-top: 30px;
  margin-left: 10px;
  }
  
  .header-first-nav{
  display: flex;
  font-size: 16px;
  color: #707070;
  margin-top: 10px;
  justify-content: flex-end;
  }
  .header-first-nav li{
  margin-right: 30px;
  }
  .header-first-nav li:last-child{
  margin: 0;
  }
  
  .header-second-nav{
  display: flex;
  color: #333333;
  font-weight: 600;
  margin-top: 30px;
  justify-content: flex-end;
  }
  .header-second-nav li{
  font-size: 22px;
  text-align: center;
  width: 150px;
  }
  .header-second-nav li a{
  width: 150px;
  }
  .header-second-nav li:last-child{
  margin: 0;
  }
  .header-second-nav-depth{
  position: relative;
  margin-top: 38px;
  background: #1876AB;
  padding: 10px 0;
  z-index: 100;
  display: none;
  }
  .header-second-nav-depth li a:hover{
  background: #60c5ff;
  }
  .header-second-nav-depth li{
  font-size: 18px;
  margin: 0;
  text-align: center;
  font-weight: 300;
  
  }
  .header-second-nav-depth li a{
  display: block;
  padding: 6px 0;
  color: white;
  }
  
  /* 메인 배너 */
  .main-visual{
    width: 1920px;
    height: 345px;
    background: url(../images/sub-banner1.png);
    margin: 0 auto;
  }
  .main-visual h2{
    text-align: center;
    color: white;
    line-height: 345px;
    font-size: 50px;
  }

  /* content */
  .adopt-box{
    width: 1200px;
    margin: 0 auto;
  }
  .introduce{
    width: 1200px;
    margin-top: 60px;
    position: relative;
  }
  .introduce-nav{
    display: flex;
  }
  .introduce-nav li{
    width: 400px;
    height: 58px;
    font-size: 26px;
    border: 1px solid #dddddd;
    text-align: center;
    line-height: 58px;
  }
  
  .introduce-nav li:first-child{
    background-color: var(--sub-color);
  }
  .white{
    color: white;
  }

  .introduce h2{
    margin-top: 40px;
    margin-left: 95px;
    font-size: 36px;
    color: var(--main-color);
    font-weight: 700;
  }

  .dog-img{
    width: 100%;
    height: 99px;
    background: url(../images/dog-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 101px;
  }

  /* content */

  #box1 {
    width: 990px;
    height: 176px;
    display: flex;
    margin-top: 91px;
    margin-bottom: 40px;
    margin-left: 100px;
  }

  .content-1{
    border: 1px solid #707070;
    margin: 23px auto;
    margin-right: 45px;
    width: 300px;
    height: 176px;
    border-radius: 5%;
  }

  .content-1-img {
    width: 86px;
    height: 66px;
    background: url(../images/icon-sub1.png);
    margin: 23px auto;
  }
   
 .adopt-box .text-1 {
    font-size: 14px;
    text-align: center;
  }

  .content-2{
    border: 1px solid #707070;
    margin: 23px auto;
    margin-right: 45px;
    width: 300px;
    height: 176px;
    border-radius: 5%;
  }

  .content-2-img {
    width: 51px;
    height: 62px;
    background: url(../images/icon-sub2.png);
    margin: 25px auto;
  }

  .adopt-box .text-2 {
    font-size: 14px;
    text-align: center;
  }
  
  .content-3{
    border: 1px solid #707070;
    margin: 23px auto;
    width: 300px;
    height: 176px;
    border-radius: 5%;
  }

  .content-3-img {
    width: 62px;
    height: 81px;
    background: url(../images/icon-sub3.png);
    margin: 16px auto;
  }

  .adopt-box .text-3 {
    font-size: 14px;
    text-align: center;
  }

  #box2 {
    width: 990px;
    height: 176px;
    display: flex;
    margin-bottom: 49px;
    margin-left: 100px;
  }

  .content-4{
    border: 1px solid #707070;
    margin: 23px auto;
    margin-right: 45px;
    width: 300px;
    height: 176px;
    border-radius: 5%;
  }

  .content-4-img {
    margin: 18px auto;
    margin-bottom: 26px;
    width: 79px;
    height: 71px;
    background: url(../images/icon-sub4.png);
  }

  .adopt-box .text-4 {
    font-size: 14px;
    text-align: center;
  }

  .content-5{
    border: 1px solid #707070;
    margin: 23px auto;
    margin-right: 45px;
    width: 300px;
    height: 176px;
    border-radius: 5%;
  }

  .content-5-img {
    margin: 27px auto;
    margin-bottom: 35px;
    width: 80px;
    height: 53px;
    background: url(../images/icon-sub5.png);
  }

  .adopt-box .text-5 {
    font-size: 14px;
    text-align: center;
  }

  .content-6{
    border: 1px solid #707070;
    margin: 23px auto;
    width: 300px;
    height: 176px;
    border-radius: 5%;
  }

  .content-6-img {
    margin: 18px auto;
    margin-bottom: 26px;
    width: 71px;
    height: 71px;
    background: url(../images/icon-sub6.png);
  }
  .adopt-box .text-6 {
    font-size: 14px;
    text-align: center;
  }

.precautions {
  margin-left: 100px;
  margin-bottom: 121px;
  color: var(--text-color);
}

.precautions p span {
  color: red;
}
 
/* footer */
  footer{
    margin-top: 120px;
    background-color: #dddddd;
    height: 180px;
  }
  footer .footer-logo{
    width: 202px;
    height: 56px;
    margin-top: 43px;
  }
  .footer-box{
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
  .footer-box-ul{
    display: flex;
  }
  
  .footer-box-ul li{
    padding: 0 28px;
    border-right: 1px solid #777777;
  }
  
  .footer-box-ul li:first-child{
    padding-left: 0;
  }
  .footer-box-ul li:last-child{
    border-right: none;
  }
  .footer-box-ul li a{
    color: #777777;
  }
  .footer-box-flex{
    margin-top: 43px;
    margin-left: 49px;
    color: #777777;
  }
  .footer-box-p{
    margin-top: 6px;
  }
  .footer-box-p p:last-child{
    margin-top: 20px;
    font-size: 14px;
  }
  .icon{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    
    justify-content: flex-end;
  }
  .icon img{
    width: 42px;
    height: 42px;
    margin-left: 22px;
  }